body {
  font-family: 'Work Sans', sans-serif;
}

textarea {
  /* height: 120px; */
  height: 10em;
}

.footer-btn {
  margin-top: 0.3em;
}

.post-image {
  /* height: 250px; */
  height: 17em;
}

.user-avatar {
  /* height: 150px; */
  height: 11em;
}


.brand-logo {
  margin-left: 0.65em;
}